@import "normalize";

@font-face {
  font-family: Roma;
  font-weight: normal;
  src: url("/assets/font-roma/Roma.otf") format("opentype");
}

@font-face {
  font-family: Roma;
  font-weight: bold;
  src: url("/assets/font-roma/Roma_SemiBold.otf") format("opentype");
}

@mixin gradient-border {
  position: absolute;
  content: "";
  inset: 0;
  padding: 1px;
  -webkit-mask: linear-gradient(#fff 0 0) content-box,
  linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  z-index: -1;
}

html {
  background-color: #333333;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Roma, sans-serif;
  --border-radius: 7px;
}

main {
  height: 100%;
  padding: 10px;
  align-content: center;
}

@keyframes myAnimation {
  from {
    border-color: red;
  }
  to {
    border-color: yellow;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
  border: 1px solid #6c6c6c;
}

.monster-image {
  margin-top: 20px;
  width: 100%;
  display: block;
  //animation: myAnimation 2.5s infinite alternate;
  //animation-timing-function: ease-out
}

.main-content {
  cursor: default;
  margin: 0 auto;
  height: 100%;
  width: 1000px;
  display: grid;
  gap: 30px;
  grid-template-rows: auto 1fr;
}

.achievements-list {
  display: grid;
  grid-auto-flow: column;
  grid-auto-rows: 100px;
  grid-template-columns: repeat(5, 1fr);

  gap: 10px;
}

.achievement-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
  padding: 10px;
  position: relative;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background: radial-gradient(ellipse 200px 200px at 50% 10%, #353535 0%, #474747 100%);

  color: #e3e3e3;
  z-index: 1;

  &:before {
    @include gradient-border;
    border-radius: var(--border-radius);
    background: radial-gradient(ellipse 100px 100px at 50% top, #737373 0%, #5e5e5e 100%);
  }
}