@import "normalize";

html {
  background-color: #333333;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  height: 100%;
  padding: 10px;
  align-content: center;
}

.next-task-label {
  color: #ffc254;
}

@keyframes myAnimation {
  from {
    border-color: red;
  }
  to {
    border-color: yellow;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 2px solid #6c6c6c;
  animation: myAnimation 2.5s infinite alternate;
  animation-timing-function: ease-out
}

.monster-image {
  width: 1000px;
}

.main-grid {
  cursor: default;
  margin: 0 auto;
  width: fit-content;
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto;

  font-size: 35px;
  font-weight: bold;
  color: white;
  text-shadow: #000 3px 3px 10px;
}

.complete-icon {
  display: inline-block;

  svg {
    width: 50px;
    vertical-align: middle;
    margin-bottom: 8px;
  }
}

.current-task {
  cursor: pointer;
  transition: text-shadow 0.3s;

  div {
    max-width: 600px;
  }

  .complete-icon {
    opacity: 0;
    transition: opacity 0.1s;
  }

  &:hover {
    text-shadow: #ffffff 0 0 10px, #000 3px 3px 10px;

    .complete-icon {
      //opacity: 1;
    }
  }
}